html {
    height: 100%;
}

body {

    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #fe806a 0%, #ff8f69 100%) no-repeat fixed;
    font-family: 'Roboto', sans-serif;
    color: #4B6772;
    background: -moz-linear-gradient(top, #fe806a 0%, #ff8f69 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fe806a 0%, #ff8f69 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fe806a 0%, #ff8f69 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe806a', endColorstr='#ff8f69', GradientType=0); /* IE6-9 */


}

#app {
    background: white;
    margin: 60px 7% auto 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 500px;

}

#app div{
    padding: 5px;
}

